@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Jaini+Purva&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.head-txt {
  font-family: "Jaini Purva", serif;
  font-weight: 400;
  font-style: normal;
}

.main-txt{
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



@layer utilities {
  .after-line {
    position: relative;
  }
  .after-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .after-line:hover::after {
    width: 100%;
    left: 0;
  }
}